In [1]:
python --version

NameError: name 'python' is not defined

Use '!' to run a command using CLI

In [2]:
!python --version

Python 3.7.4

### Learn Hello world

syntax: print(string1/number1/object1, string1/number1/object1, ..., sep = seperator)

- sep: is used to declare the seperator between two objects to be printed (deafult: sep=' ')

In [3]:
print("Hello world!")

Hello world!

In [4]:
print("Hello world!", "Python course")

Hello world! Python course

In [6]:
print("Hello world!", 'Python course', sep='--')

Hello world!--Python course

In [7]:
print("Hello world", 2, sep='-')

Hello world-2

## Datatype

### Strings

In [21]:
a = 'pramod'

In [14]:
print(a)

Pramod

In [22]:
a

'pramod'

To check the type of any variable use command 'type'

syntax: type(variable_name)

In [15]:
print(type(a))

<class 'str'>

Python 3 uses 'string' class for 1 or more lettered words

In [18]:
b = "P"
print(b, type(b))

P <class 'str'>

In [23]:
c = 'Kachare'
print(a, c)

pramod Kachare

In [24]:
firstname = 'Pramod'
lastname = 'Kachare'

fullname = firstname + lastname
print(fullname)

PramodKachare

'+' : concatenates two strings (careful: no additional space is added)

In [25]:
fullname = firstname + " " + lastname
print(fullname)

Pramod Kachare

In [26]:
len(firstname)

6

In [28]:
print('Length of "', firstname, '" is ', len(firstname))

Length of " Pramod " is  6

In [29]:
print("Length of '", firstname, "' is ", len(firstname))

Length of ' Pramod ' is  6

In [30]:
print("Length of '", lastname, "' is ", len(lastname))

Length of ' Kachare ' is  7

In [32]:
print("Length of '", fullname, "' is ", len(fullname))

Length of ' Pramod Kachare ' is  14

In [35]:
print(firstname, lastname)
print(firstname, lastname, sep='aaaaaa')
print(fullname, sep='aaaaaa')

Pramod Kachare
PramodaaaaaaKachare
Pramod Kachare

DAY-2

Number
- Integer
    - Decimal (0-9)
        Any number that is based on 10^x positions
        101 = 1 * 10^2 + 0 * 10^1 + 1 * 10^0
        095 = 0 * 10^2 + 9 * 10^1 + 5 * 10^0 
        871 = 8 * 10^2 + 7 * 10^1 + 1 * 10^0 
        
    - Binary (0, 1)
        Any number that is based on 2^x positions
        7 = 1 * 2^2 + 1 * 2^1 + 1 * 2^0 = 1 * 4 + 1 * 2 + 1 * 1  -> 111
        4 = 1 * 2^2 + 0 * 2^1 + 0 * 2^0 -> 100
        5 = 1 * 2^2 + 0 * 2^1 + 1 * 2^0 -> 101
        
    - Octal (0-7)
        Any number that is based on 8^x positions
        7 = 0 * 8^2 + 0 * 8^1 + 7 * 8^0 -> 001
       14 = 0 * 8^2 + 1 * 8^1 + 6 * 8^0 -> 016
       25 = 0 * 8^2 + 3 * 8^1 + 1 * 8^0 -> 031
       85 = 1 * 8^2 + 2 * 8^1 + 5 * 8^0 -> 125
            
    - Hexadecimal (0-9, A, B, C, D, E, F)
        Any number that is based on 16^x positions
        7 = 0 * 16^2 + 0 * 16^1 + 7 * 16^0 -> 007
       14 = 0 * 16^2 + 0 * 16^1 + E * 16^0 -> 00E
       85 = 0 * 16^2 + 5 * 16^1 + 5 * 16^0 -> 055
        
        
- Float (double)
- Complex number

In [3]:
a = 101
print('Decimal number is', a, type(a))

Decimal number is 101 <class 'int'>

In [7]:
b = bin(a)
print('Binary form of', a, 'is', b)

Binary form of 101 is 0b1100101

In [8]:
c = oct(a)
print('Octal form of', a, 'is', c)

Octal form of 101 is 0o145

In [9]:
d = hex(a)
print('Octal form of', a, 'is', d)

Octal form of 101 is 0x65

In [18]:
a = 85
b = bin(a)
print('Binary form of', a, 'is', b)
c = oct(a)
print('Octal form of', a, 'is', c)
d = hex(a)
print('hexadecimal form of', a, 'is', d)
print('-'*20)
print(b, 'is binary form of', int(b, 2))
print(c, 'is octal form of', int(c, 8))
print(d, 'is hexadecimal form of', int(d, 16))

Binary form of 85 is 0b1010101
Octal form of 85 is 0o125
hexadecimal form of 85 is 0x55
--------------------
0b1010101 is binary form of 85
0o125 is octal form of 85
0x55 is hexadecimal form of 85

In [24]:
e = -2.0
print('Number is ', e, type(e))

Number is  -2.0 <class 'float'>

Arithmatic operations on numbers
- Addition
- Subtraction
- Multiplication
- Division (output is automatically "type casted" to float)

In [12]:
a = 5
b = 3

c = a + b 
d = a - b 
e = a * b 
f = a / b

print('Addition of ', a, 'and', b, 'is', c, type(c))
print('Subtraction of ', a, 'and', b, 'is', d, type(d))
print('Multiplication of ', a, 'and', b, 'is', e, type(e))
print('Division of ', a, 'and', b, 'is', f, type(f))

Addition of  5 and 3 is 8 <class 'int'>
Subtraction of  5 and 3 is 2 <class 'int'>
Multiplication of  5 and 3 is 15 <class 'int'>
Division of  5 and 3 is 1 <class 'int'>

Hierarchy
 1. String
 2. Float
 3. Integer

In [16]:
# Example of type casting: float -> int
# This is also called as Downcasting
x = int(100.5)

print('x:', x)

x: 100

In [17]:
# Example of type casting: int -> float
# This is also called as Upcasting
x = float(100)

print('x:', x)

x: 100.0

In [24]:
a = 7
b = 4

g = a // b 
h = a % b 

print('Quotient of ', a, 'and', b, 'is', g, type(g))
print('Remainder of ', a, 'and', b, 'is', h, type(h))

Quotient of  7 and 4 is 1 <class 'int'>
Remainder of  7 and 4 is 3 <class 'int'>

### List

It is a colletion of different python datatypes.

In [29]:
a = [1, 2.2, 'Pramod', 'Python']
print(a, type(a))

[1, 2.2, 'Pramod', 'Python'] <class 'list'>

In [30]:
print('Number of elements in list are: ', len(a))

Number of elements in list are:  4

Indexing

#### Indexing in list starts with 0 (allows negative indexing)
- First element: 0th position
- Second element: 1st position
- ...
- Second last element: -2th position
- Last element: -1th position

In [35]:
print('First element in a is ', a[0])
print('Second element in a is ', a[1])
print('Last element in a is ', a[-1])
print('Second last element in a is ', a[-2])

First element in a is  1
Second element in a is  2.2
Last element in a is  Python
Second last element in a is  Pramod

In [37]:
b = ['Pramod', 500, 'Python', 'Aadi', -5.03, 'Ritwik']

print(len(b))
print('Fourth position element is ', b[4])

6
Fourth position element is  -5.03

In [39]:
a = []
print(a, type(a))

[] <class 'list'>

In [43]:
a = list([2, 3, 'Pramod'])
print(a, type(a))

[2, 3, 'Pramod'] <class 'list'>

### Slicing

list[start:stop]
- It will extract all the elements from the list starting with 'start' but ending with 'stop-1'
- Creates a new (sub/smaller) list

- list[start:]  then 'stop' defaults to 'len(list)'
- list[:stop]  then 'start' defaults to '0'

In [50]:
c = b[1:4]
print('Elements from 1st to 3rd position are:',c, type(c))

Elements from 1st to 3rd position are: [500, 'Python', 'Aadi'] <class 'list'>

In [53]:
d = b[1:]
print('Elements from 1st to last position are:',d, type(d))

e = b[:4]
print('Elements from 0th to 3rd position are:',e, type(e))

Elements from 1st to last position are: [500, 'Python', 'Aadi', -5.03, 'Ritwik'] <class 'list'>
Elements from 0th to 3rd position are: ['Pramod', 500, 'Python', 'Aadi'] <class 'list'>

In [55]:
b[:-1]

['Pramod', 500, 'Python', 'Aadi', -5.03]

In [60]:
b[-1:]

['Ritwik']

In [59]:
b[-1:len(b)]

['Ritwik']

In [61]:
b[3:], b[3:len(b)]

(['Aadi', -5.03, 'Ritwik'], ['Aadi', -5.03, 'Ritwik'])

### A list can contain another list

In [64]:
c = [2, 'Course', b]
print(c, type(c))

print('First element in c is ', c[0])
print('Second element in c is ', c[1])
print('Last element in c is ', c[-1])

[2, 'Course', ['Pramod', 500, 'Python', 'Aadi', -5.03, 'Ritwik']] <class 'list'>
First element in c is  2
Second element in c is  Course
Last element in c is  ['Pramod', 500, 'Python', 'Aadi', -5.03, 'Ritwik']

- Append
    - list1.append(list2): Adds list2 as a last element in list1
    - List can be appended by another list or single element (like int, float, string, etc.)
    
- Extend
    - list1.extend(list2): Adds elements of list2 as elements in list1
    - List MUST ALWAYS BE EXTENDED BY ANOTHER LIST ONLY.

In [68]:
a = [1, 2, 3]
b = [4, 5, 6]

a.append(b)
print('Append to a', a)

a = [1, 2, 3]
b = [4, 5, 6]

a.extend(b)
print('Extend to a', a)

Append [1, 2, 3, [4, 5, 6]]
Extend [1, 2, 3, 4, 5, 6]

In [1]:
a = [1, 2, 3]
b = [4, 5, 6]

b.append(a)
print('Append to b', b)

a = [1, 2, 3]
b = [4, 5, 6]

b.extend(a)
print('Extend to b', b)

Append to b [4, 5, 6, [1, 2, 3]]
Extend to b [4, 5, 6, 1, 2, 3]

In [9]:
a = [1, 2, 3]
b = 'Pramod'

a.append(b)
print('Append element to list a', a)

Append element to list a [1, 2, 3, 'Pramod']

In [11]:
a = [1, 2, 3]
b = 5

a.extend(b)
print('Extend element to list a', a)

TypeError: 'int' object is not iterable

In [14]:
a = 'Pramod'
print(type(a))

<class 'str'>

Internally Python assumes a string as a list of characters. We can consider a string to be a special type of list with only characters.

In [15]:
a[1]

'r'

In [16]:
a[-1]

'd'

In [17]:
a[2:4]

'am'

In [18]:
a[2:], a[:4]

('amod', 'Pram')

## Mutation
We can change elements inside a Python object (list, int, float, etc.) without creating new object. Such objects are called as mutable objects.

In [21]:
a = [1 , 2 , 3]
print('Before:', a)
a[1] = -1
print('After:', a)

Before: [1, 2, 3]
After: [1, -1, 3]

## Tuple

In [22]:
a = (1, 2, 3)
print(a, type(a))

(1, 2, 3) <class 'tuple'>

Indexing and slicing of a tuple object is same as list.

In [25]:
print(a[0], a[-1], a[:2], a[1:])

1 3 (1, 2) (2, 3)

Tuples are not mutable. (i.e. once created we can not change any element in tuple)

In [27]:
a[1] = -1

TypeError: 'tuple' object does not support item assignment

In [29]:
a = tuple([1,2,3])
print(a, type(a))

(1, 2, 3) <class 'tuple'>

## Dictionary

It is a key value pair.
marks:
    Pramod 20
    Ritwik 25
    Addi   30
    
Syntax:
  dic = {key1 : value1, key2: value2, key3: value3, ....}
  
  Keys must be unique. Values may not be unique.

In [32]:
marks = {'Pramod':20, 'Ritwik':25, 'Aadi':30}

In [33]:
marks['Pramod']

20

In [34]:
marks['Ritwik']

25

In [35]:
marks.keys()

dict_keys(['Pramod', 'Ritwik', 'Aadi'])

In [36]:
marks.values()

dict_values([20, 25, 30])

In [39]:
list(marks.items())[1]

('Ritwik', 25)

Dictionary can not have duplicate keys. If a dictionary is created with duplicate keys then the later keya and value pair is stored.

In [42]:
marks = {'Pramod':20, 'Pramod':25, 'Aadi':30}
print(marks)

{'Pramod': 25, 'Aadi': 30}

In [43]:
marks = {'Pramod':20, 'Ritwik':20, 'Aadi':30}
print(marks)

{'Pramod': 20, 'Ritwik': 20, 'Aadi': 30}

In [44]:
marks = {20: 'Pramod', 25: ['Ritwik', 'Aadi']}
print(marks[20])

Pramod

In [45]:
marks[25]

['Ritwik', 'Aadi']

List (or tuple) can be a value inside a dictionary but not KEY.

In [46]:
marks = {20: 'Pramod', ['Ritwik', 'Aadi']:25}

TypeError: unhashable type: 'list'

## Set

It contains only unique values

In [47]:
a = [1,2,3,4,5, 1,2]
print(a, type(a))

[1, 2, 3, 4, 5, 1, 2] <class 'list'>

In [49]:
b = set(a)
print(b, type(b))

{1, 2, 3, 4, 5} <class 'set'>

In [50]:
a = {1, 2, 3, 4, 5, 1, 2}
print(a, type(a))

{1, 2, 3, 4, 5} <class 'set'>

In [52]:
print(set('Pramod'))

{'a', 'm', 'r', 'o', 'P', 'd'}

In [60]:
a = set('Pramod')
list(a)[0]

'a'

## Range

syntax:
range(start, stop, step)
It creates a sequence of numbers from 'start' to 'stop-1' with a increment of 'step'.

range(start, stop)
It creates a sequence of numbers from 'start' to 'stop-1'

range(stop)
It creates a sequence of numbers from 0 to 'stop-1'

In [63]:
a = list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
a = list(range(4, 10))
print(a)

[4, 5, 6, 7, 8, 9]

In [65]:
a = list(range(4, 10, 2))
print(a)

[4, 6, 8]

In [66]:
a = list(range(4, 10, 3))
print(a)

[4, 7]

## For lop

It is a looping function to repeat a particular task for fixed number of times.

syntax:


for iter in list (or tuple or collection of data):
    Statement 1
    Statement 2
    ...
    Statement N

END OF OF FOR LOOP IS DENOTED BY REMOVING THE INDENT.

In [67]:
num = 2
print('Square of', num, 'is', num**2)

Square of 2 is 4

In [69]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [74]:
for i in range(1, 11, 2):
    print('Hi')
print('END Hi')

Hi
Hi
Hi
Hi
Hi
END Hi

Print the squares of all  numbers from 1 to 10 (including).

In [76]:
for num in range(1, 11):
    print('Square of', num, 'is', num**2)

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100

Print the squares of all even numbers from 1 to 10 (including).

In [1]:
for num in range(2, 11, 2):
    print('Square of', num, 'is', num**2)

Square of 2 is 4
Square of 4 is 16
Square of 6 is 36
Square of 8 is 64
Square of 10 is 100

Print the squares of all odd numbers from 1 to 10 (including).

In [2]:
for num in range(1, 11, 2):
    print('Square of', num, 'is', num**2)

Square of 1 is 1
Square of 3 is 9
Square of 5 is 25
Square of 7 is 49
Square of 9 is 81

Print table of 4.

In [3]:
for num in range(1, 11):
    print(4, '*', num, '=', 4*num)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

list_of_names = ['Pramod', 'Ritwik', 'Aadi']
for name in list_of_names:
    print(name)
    
    
iter-0:
    Pick 0th element from the list -> 'Pramod'
    Assign picked element to the iterative variable -> name = 'Pramod'
    Execute for loop cmds
    
iter-1:    
    Pick 1st element if is available -> 'Ritwik'
    Assign picked element to the iterative variable -> name = 'Ritwik'
    Execute for loop cmds
    
iter-2:
    Pick 2nd element if is available -> 'Aadi'
    Assign picked element to the iterative variable -> name = 'Aadi'
    Execute for loop cmds
    
iter-3:
    Next element is not available -> STOP
 or Number of iter = len(list_of_names) -> STOP

In [2]:
list_of_names = ['Pramod', 'Ritwik', 'Aadi', 'Anita', 'Pooja', 'Nihit']
for name in list_of_names:
    print(name)

name

Pramod
Ritwik
Aadi
Anita
Pooja
Nihit

'Nihit'

list_of_names = ['Pramod', 'Ritwik', 'Aadi', 'Anita', 'Pooja', 'Nihit']
list_of_marks = [80, 90, 95, 70, 65, 60]

for ii in range(len(list_of_names)):
    print(list_of_names[ii], 'has got ', list_of_marks[ii])
    
    
iter-0:
    Pick the 0th element -> ii = 0
    list_of_names[ii] -> 'Pramod'
    list_of_marks[ii] -> 80

iter-1:
    Pick the 0th element -> ii = 1
    list_of_names[ii] -> 'Ritwik'
    list_of_marks[ii] -> 90

In [5]:
list_of_names = ['Pramod', 'Ritwik', 'Aadi', 'Anita', 'Pooja', 'Nihit']
list_of_marks = [80, 90, 95, 70, 65, 60]

for ii in range(len(list_of_names)):
    print(list_of_names[ii], 'has got ', list_of_marks[ii])

Pramod has got  80
Ritwik has got  90
Aadi has got  95
Anita has got  70
Pooja has got  65
Nihit has got  60

In [7]:
list_of_names = ['Pramod', 'Ritwik', 'Aadi', 'Anita', 'Pooja']
list_of_marks = [80, 90, 95, 70, 65, 60]

for ii in range(len(list_of_names)):
    print(list_of_names[ii], 'has got ', list_of_marks[ii])

Pramod has got  80
Ritwik has got  90
Aadi has got  95
Anita has got  70
Pooja has got  65

In [8]:
list_of_names = ['Pramod', 'Ritwik', 'Aadi', 'Anita', 'Pooja', 'Nihit']
list_of_marks = [80, 90, 95, 70, 65]

for ii in range(len(list_of_names)):
    print(list_of_names[ii], 'has got ', list_of_marks[ii])

Pramod has got  80
Ritwik has got  90
Aadi has got  95
Anita has got  70
Pooja has got  65

IndexError: list index out of range

SYNTAX:
    for item1, item2, ... in zip(list1, list2, ...):
        code

NOTE:  For loop will be executed for min(len(list1), len(list2), ...)

list_of_names = ['Pramod', 'Ritwik', 'Aadi', 'Anita', 'Pooja', 'Nihit']
list_of_marks = [80, 90, 95, 70, 65]

for name, mark in zip(list_of_names, list_of_marks):
    print(name, 'has got ', mark)
    
    
iter-0:
    Pick 0th element from list_of_names -> name='Pramod'
    Pick 0th element from list_of_marks -> mark=80

iter-1:
    Pick 1st element from list_of_names -> name='Ritwik'
    Pick 1st element from list_of_marks -> mark=90

In [12]:
list_of_names = ['Pramod', 'Ritwik', 'Aadi', 'Anita', 'Pooja', 'Nihit']
list_of_marks = [80, 90, 95, 70, 65]

for name, mark in zip(list_of_names, list_of_marks):
    print(name, 'has got ', mark)

Pramod has got  80
Ritwik has got  90
Aadi has got  95
Anita has got  70
Pooja has got  65

In [16]:
dic_of_students = {'Pramod':80, 'Ritwik':90, 'Aadi':95, 'Anita':70, 'Pooja':65, 'Nihit':60}

for name in dic_of_students.keys():
    print(name, 'has got', dic_of_students[name])

Pramod has got 80
Ritwik has got 90
Aadi has got 95
Anita has got 70
Pooja has got 65
Nihit has got 60

In [17]:
dic_of_students['Ritwik']

90

dic_of_students.keys() -> List of keys [key1, key2, ....]
dic_of_students.values() -> List of values [value1, value2, ....]
dic_of_students.items() -> List of tuples [(key1, value1), (key2, value2), ....]

In [20]:
dic_of_students = {'Pramod':80, 'Ritwik':90, 'Aadi':95, 'Anita':70, 'Pooja':65, 'Nihit':60}

for name, mark in dic_of_students.items():
    print(name, 'has got', mark)

Pramod has got 80
Ritwik has got 90
Aadi has got 95
Anita has got 70
Pooja has got 65
Nihit has got 60

In [22]:
tup_of_names = ('Pramod', 'Ritwik', 'Aadi', 'Anita', 'Pooja', 'Nihit')
tup_of_marks = (80, 90, 95, 70, 65, 60)

for name, mark in zip(tup_of_names, tup_of_marks):
    print(name, 'has got ', mark)

Pramod has got  80
Ritwik has got  90
Aadi has got  95
Anita has got  70
Pooja has got  65
Nihit has got  60

## While

SYNTAX:
     while condition(s):
            code

in whiel loop the iterator need to be incremented/ decreamented by the programmer

num = 1
while num < 11:
    print(num**2)
    num = num + 1 
    
iter-0:
    num = 1
    cond: 1 < 11 -> TRUE
        execute the code
        num = num + 1 -> num= 2
iter-1:
    num = 2
    cond: 2 < 11 -> TRUE
        execute the code
        num = num + 1 -> num= 3
iter-2:
    num = 3
    cond: 3 < 11 -> TRUE
        execute the code
        num = num + 1 -> num= 4
...

iter-9:
    num =10
    cond: 10 < 11 -> TRUE
        execute the code
        num = num + 1 -> num= 11
        
iter-10:
    num=11
    cond: 11 < 11 -> FALSE
        STOP While loop

In [3]:
num = 1
while num < 11:
    print(num**2)
    num = num + 1

1
4
9
16
25
36
49
64
81
100

Print all even number < 11 square using while loop

Print all odd number < 11 square using while loop

Print table of 5 using while loop

## If - else

SYNTAX:
    if condition(s):
        Code if condition(s) are TRUE
    else:
        Code if condition(s) are FALSE

In [6]:
list_of_names = ['Pramod', 'Ritwik', 'Aadi', 'Anita', 'Pooja', 'Nihit']
list_of_marks = [80, 90, 95, 70, 65, 60]

# DIST.: marks > 75 
# FIRST: marks <75

for name, mark in zip(list_of_names, list_of_marks):
    if mark > 75:
        print(name, 'has got distinction.')
    else:
        print(name, 'has got first class.')

Pramod has got distinction.
Ritwik has got distinction.
Aadi has got distinction.
Anita has got first class.
Pooja has got first class.
Nihit has got first class.

In [7]:
list_of_names = ['Pramod', 'Ritwik', 'Aadi', 'Anita', 'Pooja', 'Nihit']
list_of_marks = [80, 90, 95, 70, 65, 60]

# DIST.: marks > 75 
# FIRST: marks <75

for name, mark in zip(list_of_names, list_of_marks):
    if mark > 75:
        print(name, 'has got distinction.')

Pramod has got distinction.
Ritwik has got distinction.
Aadi has got distinction.

## Logical Operators

## Boolean 

True / False

In [4]:
a = True
print(a, type(a))

b = False
print(b, type(b))

True <class 'bool'>
False <class 'bool'>

In [7]:
c = 5 < 4
print(c, type(c))

False <class 'bool'>

In [12]:
a = 4
b = 4
if a>b:
    print('a is greater than b.')
elif b>a:
    print('b is greater than a.')

#### not operator
 Negation/negative
    
   if a =True then not a -> False
   if a =False then not a -> True

In [14]:
a = False
print(a, 'then not a is ', not a)

False then not a is  True

#### and operator
SYNTAX:
 condition1/boolean1 and condition2/boolean2

   condition1/bool1    condition2/bool2        and
    True                     True              True
    True                     False             False
    False                    True              False
    False                    False             False
    
NOTE: AND results in TRUE only if both conditions (or booleans) are TURE.

In [15]:
print(True, '|', True, '|', True and True)
print(True, '|', False, '|', True and False)
print(False, '|', True, '|', False and True)
print(False, '|', False, '|', False and False)

True | True | True
True | False | False
False | True | False
False | False | False

#### or operator
SYNTAX:
 condition1/boolean1 or condition2/boolean2

   condition1/bool1    condition2/bool2        or
    True                     True             True 
    True                     False            True 
    False                    True             True 
    False                    False            False 
    
NOTE: OR results in FALSE only if both conditions (or booleans) are FALSE.

In [16]:
print(True, '|', True, '|', True or True)
print(True, '|', False, '|', True or False)
print(False, '|', True, '|', False or True)
print(False, '|', False, '|', False or False)

True | True | True
True | False | True
False | True | True
False | False | False

### Cascaded if-else
if condition1(s):
    code if condition1(s) are TRUE
elif condition2(s):
    code if condition2(s) are TRUE
elif condition3(s):
    code if condition3(s) are TRUE
else:
    code if all condition1(s), condition2(s), and condition3(s) are FALSE

In [17]:
list_of_names = ['Pramod', 'Ritwik', 'Aadi', 'Anita', 'Pooja', 'Nihit']
list_of_marks = [45, 60, 55, 70, 85, 30]

# DIST.: marks >= 75 
# FIRST: 60 =< marks <75
# SECOND: 50 =< marks <60
# Pass : 40 =< marks < 50
# Fails: marks < 40

for name, mark in zip(list_of_names, list_of_marks):
    if mark >= 75:
        print(name, 'has got distinction.')
    elif mark < 75 and mark >=60:
        print(name, 'has got first class.')
    elif mark < 60 and mark >=50:
        print(name, 'has got second class.')
    elif mark < 50 and mark >=40:
        print(name, 'has got pass class.')
    else:
        print(name, 'has failed.')

Pramod has got pass class.
Ritwik has got first class.
Aadi has got second class.
Anita has got first class.
Pooja has got distinction.
Nihit has failed.

In [4]:
list_of_names = ['Pramod', 'Ritwik', 'Aadi', 'Anita', 'Pooja', 'Nihit']
list_of_marks = [45, 60, 55, 170, 85, -30]

# DIST.: marks >= 75 
# FIRST: 60 =< marks <75
# SECOND: 50 =< marks <60
# Pass : 40 =< marks < 50
# Fails: marks < 40

# Make sure to identify if person has invalid marks i.e. > 100 or < 0

for name, mark in zip(list_of_names, list_of_marks):
    if mark > 100 or mark < 0:
        print(name, 'has got invalid marks.')
    elif mark >= 75:
        print(name, 'has got distinction.')
    elif mark < 75 and mark >=60:
        print(name, 'has got first class.')
    elif mark < 60 and mark >=50:
        print(name, 'has got second class.')
    elif mark < 50 and mark >=40:
        print(name, 'has got pass class.')
    else:
        print(name, 'has failed.')

Pramod has got pass class.
Ritwik has got first class.
Aadi has got second class.
Anita has got invalid marks.
Pooja has got distinction.
Nihit has got invalid marks.

Print squares of all numbers from 1 to 10 that are divisble by 2 but not by 4.

           and  or
2   0  2    0    1
4   0  0    0    0
6   0  2    0    1
8   0  0    0    0
10  0  2    0    1

In [7]:
for num in range(1, 11):
    if num % 2 == 0 and num % 4 >0:
        print(num, 'has square', num**2)

2 has square 4
6 has square 36
10 has square 100

In [9]:
for num in range(2, 11, 2):
    if num % 4 >0:
        print(num, 'has square', num**2)

2 has square 4
6 has square 36
10 has square 100

not 0  -> True
not anything_other_than_0 -> False

In [19]:
num1 = 3
num2 = 5
for num in range(1, 11):
    if not num % num1 and num % num2:
        print(num, 'has square', num**2)

3 has square 9
6 has square 36
9 has square 81

Print squares of all numbers from 1 to 10 that are divisble by 2 and 4.

In [15]:
for num in range(1, 11):
    if not (num % 2 or num % 4):
        print(num, 'has square', num**2)

4 has square 16
8 has square 64

Print all prime numbers till n.


for loop to iterate num from 1 to n -> for num in range(1, n+1)

Detect if number if prime
   A number if prime is it is not divisible by any number that is less than equal to half of itself.
   for ii in range(2, n//2+1)

continue -> Remaining statements in the same loop will be ignored (jump over to next iteration)
break -> It stops the execution of the current loop

iter-0
    num =1
        count=0
        forloop -> from 2 to 1 -> does not execute
            count = 0
        print Prime
iter-1
    num = 2
        count=0
        forloop -> from 2 to 1 -> executes only for ii=
            count= 0
        print Prime

iter-2
    num = 3
        count=0
        forloop -> from 2 to 2 -> executes only for ii=2
            3 % 2 -> 1 hence
            count=0
        print Prime
        
iter-3
    num = 4
        count = 0
        forloop -> from 2 to 3 -> executes for ii =2
            4 % 2 -> 0 hence
            count = 1
        nothing to print

iter-4
    num = 5
        count=0
        forloop -> from 2 to 3 -> executes only for ii=2
            5 % 2 -> 3 hence
            count=0
        print Prime   

iter-5
    num = 6
        count=0
        forloop -> from 2 to 4 -> executes only for ii=2,3
            6 % 2 -> 0 hence
            6 % 3 -> 0 hence
            count=2
        print Prime

In [25]:
for num in range(1, 11):
    if num == 1:
        continue
    count = 0
    for ii in range(2, num//2+1):
        if num % ii == 0:
            count += 1
                    
    if count == 0:
        print(num, 'is prime.')

2 is prime.
3 is prime.
5 is prime.
7 is prime.

In [29]:
for num in range(1, 11):
    if num == 3:
        break
    count = 0
    for ii in range(2, num//2+1):
        if num % ii == 0:
            count += 1
    if count == 0:
        print(num, 'is prime.')

1 is prime.
2 is prime.

In [33]:
for num in range(1, 11):
    if num == 1:
        continue
    for ii in range(2, num//2+1):
        if num % ii == 0:
            print(ii, num, 'is not prime.')
            break

2 4 is not prime.
2 6 is not prime.
2 8 is not prime.
3 9 is not prime.
2 10 is not prime.

In [2]:
num = 10
factors = []
for ii in range(2, num//2+1):
    if num % ii == 0:
        factors.append(ii)
    print(ii, 'Factors:', factors)

print(factors)

2 Factors: [2]
3 Factors: [2]
4 Factors: [2]
5 Factors: [2, 5]
[2, 5]

Print factors of a number or if it is Prime.

In [36]:
for num in range(1, 21):
    factors = []
    for ii in range(2, num//2+1):
        if num % ii == 0:
            factors.append(ii)
            
    if len(factors) == 0:
        print(num, 'is prime.')
    else:
        print(num, 'has factors', factors)

1 is prime.
2 is prime.
3 is prime.
4 has factors [2]
5 is prime.
6 has factors [2, 3]
7 is prime.
8 has factors [2, 4]
9 has factors [3]
10 has factors [2, 5]
11 is prime.
12 has factors [2, 3, 4, 6]
13 is prime.
14 has factors [2, 7]
15 has factors [3, 5]
16 has factors [2, 4, 8]
17 is prime.
18 has factors [2, 3, 6, 9]
19 is prime.
20 has factors [2, 4, 5, 10]

Print number that are multiple of 3 but not of 6.

Print number that are multiple of 2, 4, and 6.