## Classes and Objects

CLass: user-defined structure or prototype
    e.g. car, bike
    
Object: it is an instance of a class; specialized user-defined structure
    e.g. Hond civic, Hero Splender
    
Attribute: it is a characteristic of class
    e.g transmission (manual/auto), sedan/hatchback, rear AC, etc.

Methods: it is an action of the class (may/may not modify the class attributes)

SYNTAX:
    class classname:
        # contents: attributes and methods pf class

In [3]:
class myfirstclass:
    x = 5

## Class instance -> Object

In [5]:
c1 = myfirbstclass()
print(c1)

<__main__.myfirstclass object at 0x000001365058B288>

### attribute of a class can be accessed using 'dot' operator on object of the class.

In [7]:
c1.x

5

In [10]:
c1.x = 10
c1.x

10

In [12]:
c2 = myfirstclass()

In [14]:
c2.x
c1.x = c1.x + 5

c1.x, c2.x

(15, 5)

In [25]:
class mysecondclass:
    x = 5
    y = 10
    
    def show(self):
        print('Hi')

In [26]:
c3 = mysecondclass()

In [27]:
c3.x, c3.y

(5, 10)

In [28]:
c3.show()

Hi

In [20]:
c1.show()

AttributeError: 'myfirstclass' object has no attribute 'show'

In [39]:
class mythirdclass:
    x = 5
    y = 10
    
    def show(self):
        print(self.x)
        print(self.get_x())
        
    def get_x(self):
        return self.x

In [40]:
c5 = mythirdclass()

In [41]:
c5.x, c5.y

(5, 10)

In [42]:
c5.show()

5
5

In [43]:
class student:
    name = 'Pramod'
    gender = 'M'
    maths = 90
    science = 95

In [44]:
pr = student()
pr.name, pr.gender, pr.maths, pr.science

('Pramod', 'M', 90, 95)

In [45]:
rw = student()
rw.name, rw.gender, rw.maths, rw.science

('Pramod', 'M', 90, 95)

In [47]:
rw = student()
rw.name = 'Ritwik' 
rw.gender='M'
rw.maths = 95 
rw.science = 99

In [48]:
rw.name, rw.gender, rw.maths, rw.science

('Ritwik', 'M', 95, 99)

### --init-- method

It is a constructor. It defined initial values of each attributed of that particular class

In [50]:
class student:
    name = 'Pramod'
    
    def __init__(self, name):
        self.name = name

In [52]:
ad = student('Aadi')
ad.name

'Aadi'

In [56]:
class student:
    name = ''
    gender = ''
    maths = 0
    science = 0
    
    def __init__(self, name, gen, a, b):
        self.name = name
        self.gender = gen
        self.maths = a
        self.science = b

In [58]:
pr = student('Pramod', 'M', 85, 91)

In [60]:
pr.name, pr.gender, pr.maths, pr.science

('Pramod', 'M', 85, 91)

In [61]:
rw = student('Ritwik', 'M', 95, 96)
ad = student('Aadi', 'M', 96, 95)

In [62]:
rw.name, rw.gender, rw.maths, rw.science

('Ritwik', 'M', 95, 96)

In [63]:
ad.name, ad.gender, ad.maths, ad.science

('Aadi', 'M', 96, 95)

In [65]:
datas = [['Pramod', 'M', 95, 90], ['Ritwik', 'M', 85, 99], ['Aadi', 'M', 99, 80]]
datas

[['Pramod', 'M', 95, 90], ['Ritwik', 'M', 85, 99], ['Aadi', 'M', 99, 80]]

In [70]:
x = []
for data in datas:
    x.append(student(data[0], data[1], data[2], data[3]))

In [71]:
x

[<__main__.student at 0x136545f49c8>,
 <__main__.student at 0x136545f4b48>,
 <__main__.student at 0x136545f4408>]

In [73]:
x[0].name, x[1].name, x[2].name

('Pramod', 'Ritwik', 'Aadi')

In [74]:
x[0].maths, x[1].maths, x[2].maths

(95, 85, 99)

In [23]:
class student:   
    def __init__(self, name, gen='M', a=0, b=0):
        self.name = name
        self.gender = gen
        self.maths = a
        self.science = b
        
    def up_math(self):
        print('Math marks are increased by 5.')
        self.maths += 5
#         return self.maths+5   #

In [10]:
pr = student('Pramod', 'M', 80, 45)

In [11]:
pr.name, pr.gender, pr.maths, pr.science

('Pramod', 'M', 80, 45)

In [12]:
pr.up_math()

Math marks are increased by 5.

85

In [13]:
pr.maths

80

In [ ]:
## Additing a new attribute with value is allowed. (without value calling an unknnown attribute is not allowed.)

In [24]:
pr.history = 60

In [25]:
pr.history

60

In [26]:
pr.geo

AttributeError: 'student' object has no attribute 'geo'

In [40]:
class student:   
    def __init__(first, name, gen='M', a=-1, b=0):
        first.name = name
        first.gender = gen
        first.maths = a
        first.science = b
        
    def up_math(first):
        print('Math marks are increased by 5.')
        first.maths += 5
#         return self.maths+5   #

In [28]:
pr = student('Pramod', 'M', 80, 45)

In [29]:
pr.up_math()

Math marks are increased by 5.

In [31]:
pr.maths

85

In [32]:
pr.science += 20

In [33]:
pr.science

65

In [34]:
del pr.maths

In [35]:
pr.maths

AttributeError: 'student' object has no attribute 'maths'

In [36]:
rw = student('Ritwik')

In [37]:
rw.maths

0

In [38]:
del pr

In [39]:
pr.name

NameError: name 'pr' is not defined

## Inheritence

In [ ]:
class Parent:
    a
    b
    c
    
    def f1
    
    def f2
    
class child(Parent):
    ---------------------------------------
    a
    b
    c
    
    def f1
    def f2b
    ---------------------------------------
    d
    e
    f
    
    def f3
    
    def f4

In [2]:
class Human:
    def __init__(self, first='A', last='B'):
        self.firstname = first
        self.lastname = last
    
    def print_name(self):
        print(self.firstname, self.lastname)

In [53]:
h = Human()
h.firstname, h.lastname

('A', 'B')

In [61]:
class student(Human):
    def __init__(self, f, l):
        Human.__init__(self, f, l)

In [62]:
s = student('Pramod', 'Kachare')

In [63]:
s.firstname, s.lastname

('Pramod', 'Kachare')

In [76]:
class student(Human):
    def __init__(self, f, l, a=-1):
        super().__init__(f, l)
        super().print_name()
        self.maths = a
    
    def print_maths(self):
        print('Math marks: ', self.maths)

In [77]:
s = student('Pramod', 'Kachare')
# s.firstname, s.lastname, 
s.maths

Pramod Kachare

-1

In [75]:
h = Human()
h.maths

AttributeError: 'Human' object has no attribute 'maths'

In [78]:
s.print_maths(), s.

Math marks:  -1

In [11]:
class student(Human):
    def __init__(self, f, l, a=-1, h=-1):
        super().__init__(f, l)
        super().print_name()
        self.maths = a
        self.__history = h
    
    def print_maths(self):
        print('Math marks: ', self.maths)
        print('History marks: ', self.__history)

In [4]:
s1 = student('Pramod', 'Kachare', 80, 85)

Pramod Kachare

In [5]:
s1.__history

AttributeError: 'student' object has no attribute '__history'

In [6]:
s1._science = 50

In [8]:
s1._science

50

In [9]:
s1._student__history

85

In [12]:
class Human:
    def __init__(self, first='A', last='B'):
        self.firstname = first
        self.__lastname = last
    
    def print_name(self):
        print(self.firstname, self.__lastname)

In [13]:
class student(Human):
    def __init__(self, f, l, a=-1, h=-1):
        super().__init__(f, l)
        super().print_name()
        self.maths = a
        self.__history = h
    
    def print_maths(self):
        print('Math marks: ', self.maths)
        print('History marks: ', self.__history)

In [14]:
s2 = student('Pramod', 'Kachare', 80, 85)

Pramod Kachare

In [16]:
s2.__lastname

AttributeError: 'student' object has no attribute '__lastname'

In [15]:
s2._Human__lastname

'Kachare'

In [17]:
s2._student__history

85

## Getters/setters

In [5]:
class Human:
    def __init__(self, first='A', last='B'):
        self.firstname = first
        self.lastname = last
    
    def setFirstName(self, name):
        self.firstname = name
        
    def setLastName(self, name):
        self.lastname = name
    
    def getFirstName(self):
        return self.firstname
    
    def getLastName(self):
        return self.lastname
    
    def print_name(self):
        print(self.getFirstName(), self.getLastName())

In [25]:
h1 = Human('Pramod', 'Kachare')

In [26]:
h1.getFirstName()

'Pramod'

In [27]:
h1.getLastName()

'Kachare'

In [28]:
h1.print_name()

Pramod Kachare

In [30]:
h1.setFirstName('Ritwik')
h1.setLastName('Naik')

In [31]:
h1.getFirstName(), h1.getLastName()

('Ritwik', 'Naik')

## \_\_str__

In [6]:
class student(Human):
    def __init__(self, f, l, a=-1, h=-1):
        super().__init__(f, l)
        super().print_name()
        self.maths = a
        self.__history = h
    
    def __str__(self):
        return 'This is object for '+ self.getFirstName()+ ' '+ self.getLastName()+'.'
    
    def getMaths(self):
        return self.maths
    
    def getHistory(self):
        return self.__history
    
    def setMaths(self, m):
        self.maths = m
        
    def setHistory(self, h):
        self.__history = h
    
    def print_maths(self):
        print('Math marks: ', self.maths)
        print('History marks: ', self.__history)

In [57]:
s3 = student('Pramod', 'Kachare', 60, 70)

Pramod Kachare

In [58]:
s3.getLastName()

'Kachare'

In [59]:
s3.getMaths()

60

In [60]:
print(s3)

This is object for Pramod Kachare.

In [11]:
class topper(student):
    def __init__(self, f, l, a=-1, h=-1):
        super().__init__(f, l, a, h)

In [13]:
t1 = topper('Pramod', 'Kachare', 90, 98)

Pramod Kachare

In [14]:
t1.getFirstName(), t1.getLastName()

('Pramod', 'Kachare')

In [15]:
t1.getMaths(), t1.getHistory()

(90, 98)

In [20]:
class c1:
    def __init__(self):
        self.a = 2
        self.b = 4
        
class c2:
    def __init__(self):
        self.c = 6
        self.d = 8

class C3(c2, c1):
    def __init__(self):
        super().__init__()

In [21]:
x = C3()

In [22]:
x.a, x.b

AttributeError: 'C3' object has no attribute 'a'

In [23]:
x.c, x.d

(6, 8)

In [29]:
class c1:
    def __init__(self):
        self.a = 2
        self.b = 4
    
    def print_c1(self):
        print('C1 class')
        
class c2:
    def __init__(self):
        self.c = 6
        self.d = 8

class C3(c2, c1):
    def __init__(self):
        c1.__init__(self)
        c2.__init__(self)

In [30]:
x2 = C3()

In [31]:
x2.a, x2.b, x2.c, x2.d

(2, 4, 6, 8)

In [32]:
x2.print_c1()

C1 class

## Polymorphism

In [42]:
class c1:
    def __init__(self):
        self.a = 2
        self.b = 4
    
    def print_c(self):
        print('C1 class')
        
class c2:
    def __init__(self):
        self.c = 6
        self.d = 8

class C3(c1):
    def __init__(self):
        super().__init__()
        
    def print_c(self):
        super().print_c()
        print('C3 class')

In [43]:
x3 = C3()
x3.print_c()

C1 class
C3 class

In [36]:
x4 = c1()
x4.print_c()

C1 class

In [47]:
class c1:
    def __init__(self):
        self.a = 2
        self.b = 4
    
    def print_c(self):
        print('C1 class')
        
class c2:
    def __init__(self):
        self.c = 6
        self.d = 8

    def print_c(self):
        print('C2 class')
        
class C3(c1, c2):
    def __init__(self):
        c1.__init__(self)
        c2.__init__(self)
        self.e = 10
        
    def print_c(self):
        c1.print_c(self)
        c2.print_c(self)
        print('C3 class')

In [48]:
x5 = C3()
x5.print_c()

C1 class
C2 class
C3 class

## Ierators

In [50]:
name = 'Pramod'

N = iter(name)

In [58]:
print(N)

<str_iterator object at 0x000001D60B39A788>

In [51]:
next(N)

'P'

In [52]:
next(N)

'r'

In [53]:
next(N)

'a'

In [54]:
next(N), next(N), next(N)

('m', 'o', 'd')

In [55]:
next(N)

StopIteration:

In [56]:
A = [10, 20, 30, 40, 50, 60]
itr = iter(A)

In [57]:
print(itr)

<list_iterator object at 0x000001D60D287C88>

In [59]:
next(itr)

10

In [60]:
next(itr), next(itr), next(itr), next(itr)

(20, 30, 40, 50)

## Generator

In [66]:
def natural_num():
    n = 1
    while n <=11:
        yield n
        n += 1

In [67]:
print(natural_num())

<generator object natural_num at 0x000001D60D1BF348>

In [70]:
nat_num = natural_num()

In [71]:
next(nat_num), next(nat_num), next(nat_num), next(nat_num), next(nat_num)

(1, 2, 3, 4, 5)

In [72]:
next(nat_num), next(nat_num), next(nat_num), next(nat_num), next(nat_num)

(6, 7, 8, 9, 10)

In [73]:
next(nat_num)

11

In [74]:
next(nat_num)

StopIteration: