## Classes and Objects

CLass: user-defined structure or prototype
    e.g. car, bike
    
Object: it is an instance of a class; specialized user-defined structure
    e.g. Hond civic, Hero Splender
    
Attribute: it is a characteristic of class
    e.g transmission (manual/auto), sedan/hatchback, rear AC, etc.

Methods: it is an action of the class (may/may not modify the class attributes)

SYNTAX:
    class classname:
        # contents: attributes and methods pf class

In [3]:
class myfirstclass:
    x = 5

## Class instance -> Object

In [5]:
c1 = myfirbstclass()
print(c1)

<__main__.myfirstclass object at 0x000001365058B288>

### attribute of a class can be accessed using 'dot' operator on object of the class.

In [7]:
c1.x

5

In [10]:
c1.x = 10
c1.x

10

In [12]:
c2 = myfirstclass()

In [14]:
c2.x
c1.x = c1.x + 5

c1.x, c2.x

(15, 5)

In [25]:
class mysecondclass:
    x = 5
    y = 10
    
    def show(self):
        print('Hi')

In [26]:
c3 = mysecondclass()

In [27]:
c3.x, c3.y

(5, 10)

In [28]:
c3.show()

Hi

In [20]:
c1.show()

AttributeError: 'myfirstclass' object has no attribute 'show'

In [39]:
class mythirdclass:
    x = 5
    y = 10
    
    def show(self):
        print(self.x)
        print(self.get_x())
        
    def get_x(self):
        return self.x

In [40]:
c5 = mythirdclass()

In [41]:
c5.x, c5.y

(5, 10)

In [42]:
c5.show()

5
5

In [43]:
class student:
    name = 'Pramod'
    gender = 'M'
    maths = 90
    science = 95

In [44]:
pr = student()
pr.name, pr.gender, pr.maths, pr.science

('Pramod', 'M', 90, 95)

In [45]:
rw = student()
rw.name, rw.gender, rw.maths, rw.science

('Pramod', 'M', 90, 95)

In [47]:
rw = student()
rw.name = 'Ritwik' 
rw.gender='M'
rw.maths = 95 
rw.science = 99

In [48]:
rw.name, rw.gender, rw.maths, rw.science

('Ritwik', 'M', 95, 99)

### --init-- method

It is a constructor. It defined initial values of each attributed of that particular class

In [50]:
class student:
    name = 'Pramod'
    
    def __init__(self, name):
        self.name = name

In [52]:
ad = student('Aadi')
ad.name

'Aadi'

In [56]:
class student:
    name = ''
    gender = ''
    maths = 0
    science = 0
    
    def __init__(self, name, gen, a, b):
        self.name = name
        self.gender = gen
        self.maths = a
        self.science = b

In [58]:
pr = student('Pramod', 'M', 85, 91)

In [60]:
pr.name, pr.gender, pr.maths, pr.science

('Pramod', 'M', 85, 91)

In [61]:
rw = student('Ritwik', 'M', 95, 96)
ad = student('Aadi', 'M', 96, 95)

In [62]:
rw.name, rw.gender, rw.maths, rw.science

('Ritwik', 'M', 95, 96)

In [63]:
ad.name, ad.gender, ad.maths, ad.science

('Aadi', 'M', 96, 95)

In [65]:
datas = [['Pramod', 'M', 95, 90], ['Ritwik', 'M', 85, 99], ['Aadi', 'M', 99, 80]]
datas

[['Pramod', 'M', 95, 90], ['Ritwik', 'M', 85, 99], ['Aadi', 'M', 99, 80]]

In [70]:
x = []
for data in datas:
    x.append(student(data[0], data[1], data[2], data[3]))

In [71]:
x

[<__main__.student at 0x136545f49c8>,
 <__main__.student at 0x136545f4b48>,
 <__main__.student at 0x136545f4408>]

In [73]:
x[0].name, x[1].name, x[2].name

('Pramod', 'Ritwik', 'Aadi')

In [74]:
x[0].maths, x[1].maths, x[2].maths

(95, 85, 99)